<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Disabled</key>
  <false/>
  <key>Label</key>
  <string>uk.lepus.dev.service.musicplayer</string>
  <key>Nice</key>
  <integer>5</integer>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/admin/Library/Application Scripts/uk.lepus.dev.service/musicplayer</string>
  </array>
  <key>StandardErrorPath</key>
  <string>/tmp/uk.lepus.dev.service.musicplayer.out</string>
  <key>StandardOutPath</key>
  <string>/tmp/uk.lepus.dev.service.musicplayer.out</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key>
      <integer>08</integer>
      <key>Minute</key>
      <integer>00</integer>
    </dict>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>GroupName</key>
  <string>wheel</string>
</dict>
</plist>
